version: '3'

services:
  bg-location-console:
    container_name:
      bg-location-console
    hostname:
      console
    image:
      gcr.io/epoch-906/kx_bg_geolocation_console:test
    ports:
      - "9000:9000"
    networks:
      - web
    environment:
      LANG: C.UTF-8
      GOOGLE_MAPS_API_KEY: LONG_STRING
    volumes:
      - ${PWD}/db:/srv/background-geolocation-console/src/server/database/db
      - /tmp:/hostTmp
networks:
  web:

